/* Bootstrap */
@import "main.css";

/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* Fonts */
@import "fonts.css";

:root,
[data-bs-theme=light] {
    --header-logo: url(../images/logo-w.png);
    --hero-overlay: var(--bs-light);
    --heading-color: var(--bs-primary);
    --bs-disabled: #666784;
    --bg-mega-menu: #29318A;
    --bg-main: #F7FDFE;
    --bg-custom-color: var(--bs-light-rgb);
    --bs-bg-opacity: 1;
    --btn-outline-primary: var(--bs-primary);
    --services-bg-light: var(--bs-light);
}

[data-bs-theme=dark] {
    --header-logo: url(../images/logo-footer.png);
    --hero-overlay: var(--bs-secondary);
    --heading-color: var(--bs-light);
    --bs-disabled: #666784;
    --bg-mega-menu: #29318A;
    --bg-main: ;
    --bg-custom-color: var(--bs-body-bg);
    --btn-outline-primary: var(--bs-light);
    --services-bg-light: var(--bs-body-bg);
}

body {
    background-color: var(--bg-main);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--heading-color);
}

header {
    z-index: 999;
}

header .header-logo {
    background-image: var(--header-logo);
    height: 50px;
    width: 340px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#navbarText .nav-link {
    color: var(--heading-color);
}

.header-switch {
    display: flex !important;
}

section {
    padding: 5vw 0;
}

section.bg-light {
    background-color: rgba(var(--bg-custom-color), var(--bs-bg-opacity)) !important;
}

section#hero {
    padding: 0;
}

#hero .hero-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#hero .hero-img .row {
    height: 40vw;
    align-items: center;
}

#hero .hero-img .hero-overlay {
    position: absolute;
    background: var(--hero-overlay);
    height: 40vw;
    top: 0;
    right: 0;
    width: 50%;
    opacity: 0.8;
}

.navbar .dropdown-toggle::after {
    display: none;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler .bi {
    color: var(--heading-color);
}

#primary-menu .navbar-toggler .bi {
    color: var(--bs-light);
}

.navbar .dropdown-menu.show {
    padding: 10px;
    z-index: 10000;
}

.navbar .dropdown-item {
    border-radius: 20px;
}

.navbar .btn .bi {
    vertical-align: -.125em;
    margin: 0;
}

.hero-content {
    position: relative;
    bottom: 0;
}

.hero-content h3 {
    line-height: 2.5rem;
    color: var(--heading-color);
}

.hero-content p {
    color: var(--heading-color);
}

.btn .bi {
    margin-right: 5px;
}

.bi {
    fill: currentColor;
}

.py-7 {
    margin: 5rem 0;
}

/* header-menu */
.header-menu {
    height: 100px;
}

.header-menu .container {
    z-index: 2;
}

/* mega-menu */
.mega-menu .nav-item:hover, .mega-menu .nav-item a:hover,
.mega-menu .nav-item:active, .mega-menu .nav-item a:active {
    color: var(--bs-secondary);
}

.bg-primary .nav-link {
    color: var(--bs-light);
}

li.nav-item.dropdown.dropdown-hover.position-static {
    height: 55px;
    padding: 5px 0px;
    margin: 0 auto;
}

nav#primary-menu {
    padding: 0;
}

#primary-menu .mega-menu {
    flex: auto;
}

#primary-menu .bg-mega-menu {
    background: var(--bg-mega-menu);
}

#primary-menu .dropdown-hover:hover>.dropdown-menu {
    display: inline-block;
    position: absolute;
    right: 0;
    border: 0;
    border-radius: 0;
    top: 55px;
}

#primary-menu .dropdown-hover>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

#primary-menu .list-group-flush > .list-group-item {
    color: var(--bs-gray-500);
    background: transparent;
}

#primary-menu .list-group .list-group-item {
    border: 0;
}

#primary-menu .list-group-flush > .list-group-item:hover {
    color: var(--bs-light);
}

.btn-outline-primary {
    color: var(--btn-outline-primary);
    border-color: var(--btn-outline-primary);
}

.btn-outline-primary:hover, .btn-outline-primary:active {
    background-color: var(--bs-secondary) !important;
    border-color: var(--bs-secondary) !important;
}

.btn:disabled, .btn.disabled, fieldset:disabled .btn {
    background-color: var(--bs-disabled);
    border-color: var(--bs-disabled);
    opacity: var(--bs-btn-disabled-opacity);
    color: var(--bs-light);
}

/* popover */
.popover-arrow {
    display: block;
}

.popover-arrow::before, .popover-arrow::after {
    position: absolute;
    display: block;
    content: "";
    border-color: transparent;
    border-style: solid;
    border-width: 0;
}

.popover-arrow::before, .popover-arrow::before {
    top: 0;
    border-bottom-color: var(--bg-mega-menu);
}

.popover-arrow::after, .popover-arrow::before {
    border-width: 10px;
}

.popover-arrow::after, .popover-arrow::after {
    top: var(--bs-popover-border-width);
    border-bottom-color: var(--bg-mega-menu);
}

.bg-footer {
    background: var(--bg-mega-menu);
    color: var(--bs-white);
}

footer .bg-primary {
    color: var(--bs-white);
}

footer h1, footer h2, footer h3, footer h4, footer h5, footer h6, footer p {
    color: var(--bs-light);
}

footer a {
    text-decoration: none;
}

footer .border {
    border-color: var(--bs-white) !important;
}

.footer-item {
    color: var(--bs-white);
}

p.footer-item {
    margin: 0;
}

.footer-item br {
    display: none;
}

footer .nav-link {
    color: var(--bs-light);
}

footer .nav-link:hover {
    color: var(--bs-secondary);
}

footer .d-flex {
    align-items: center;
}

footer .d-flex .bi {
    font-size: 30px;
}

footer .copy-right p {
    color: var(--bs-light);
    font-size: 13px;
}

/* Header Slider */

/* Service Section */
.head-service {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 1rem 0;
}

.head-service span {
    color: var(--bs-secondary);
}

.head-service img {
    margin-left: 10px;
}

.sig span {
    color: var(--bs-secondary);
    margin: 15px;
}

.nav-pills .nav-link {
    color: var(--bs-secondary);
    border-radius: 0;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--bs-secondary);
    background: transparent;
    border-bottom: solid 3px;
}

.tab-content {
    padding: 1rem;
    background: var(--bs-light);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.tab-content li {
    color: var(--heading-color);
}

.service-sidebar i {
    color: #F2B780;
    font-size: 20px;
    margin: 5px;
}

.position-fixed {
    left: 5%;
    bottom: 20%;
    z-index: 15000;
}

button.btn.btn-secondary {
    padding: 15px;
    display: flex;
    border-radius: 20px;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
     /* Black fallback color */
    background-color: #33b6bfd4; /* Black w/opacity */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.overlay .closebtn .btn {
    padding: 5px 15px;
    display: flex;
    border-radius: 10px;
    font-size: 25px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media (max-width: 560px) {
    .order-sm-1 {
        order: 1 !important;
    }

    .order-sm-2 {
        order: 2 !important;
    }

    .navbar-brand {
        width: 70%;
    }

    header .header-logo {
        width: 300px;
    }

    .navbar-brand img {
        width: 280px;
    }

    nav#primary-menu {
        margin-top: -10px;
        padding: 5px;
    }

    #hero .hero-img {
        height: 150vw;
    }

    #hero .hero-img .hero-overlay {
        top: auto;
        bottom: 0;
        width: 100%;
        height: 60vw;
    }

    #hero .owl-dots {
        display: none;
    }

    .hero-content {
        position: absolute;
        bottom: 40px;
    }

    .hero-content h3 {
        font-size: 20px;
        line-height: 1.8rem;
    }

    #services a.card {
        height: 70vw !important;
    }

    .footer-item br {
        display: block;
    }

    .position-fixed {
        bottom: 5%;
    }
}

@media (max-width: 885px) {
    .owl-theme .owl-nav {
        display: none;
    }

    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .header-span {
        display: none;
    }

    .header-switch {
        justify-content: space-between;
        margin: 0 !important;
        background-color: var(--bs-secondary);
        align-items: center;
    }

    .header-menu .container {
        padding-bottom: 15px;
    }

    .header-menu .btn .bi {
        color: var(--heading-color);
    }

    .header-switch .mb-2 {
        margin: 0 !important;
    }

    .my-sm-2 {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }

    .text-xm-center {
        text-align: center !important;
    }
}

@media (max-width: 992px) {
    #primary-menu .navbar-collapse {
        /* display: ; */
    }
}

.search-section .form-control {
    border-color: var(--bs-primary);
}

.search-section .btn .bi {
    margin-right: 5px;
}

#services .bg-light, #services-section .bg-light, .tab-content, header.bg-light, header .bg-light {
    background-color: var(--services-bg-light) !important;
}

#services a.card {
    height: 13vw;
}

#services .card-body {
    padding: 2.5rem;
}

#services .card img {
    width: auto;
    margin: auto;
    margin-bottom: 1.5rem;
}

#services .card svg {
    fill: var(--heading-color);
    width: 10rem;
}

.section-heading {
    --margin-y: 5vw;
    /* margin-top: var(--margin-y); */
    margin-bottom: var(--margin-y);
}

#clear .badge {
    --badge-radius: 50px;
    border-top-right-radius: var(--badge-radius) !important;
    border-bottom-right-radius: var(--badge-radius) !important;
    border-radius: 0;
    position: absolute;
    top: 10%;
    left: 0;
    font-size: smaller;
    padding: 10px;
}

.card {
    border: none;
    text-decoration: none;
}

.gcam-systems .card .overlay-card {
    background: var(--bs-primary);
    color: var(--bs-white);
    border-radius: var(--bs-border-radius);
    position: absolute;
    padding: 1.5rem;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    cursor: pointer;
}

.gcam-systems .overlay-card .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
    padding: 40px;
}

.gcam-systems .card .overlay-card:hover {
    opacity: 1;
}

.gcam-systems .card p {
    color: var(--bs-white) !important;
}

.gcam-systems .card p, .gcam-systems .card .overlay-content p {
    color: var(--bg-main);
    font-weight: bold;
    margin-top: 1.5rem !important;
    opacity: 1 !important;
}

/* Owl */
.owl-theme .owl-nav.disabled + .owl-dots, .owl-theme .owl-dots {
    margin-top: 2rem;
}

.owl-theme .owl-dots .owl-dot span {
    background: transparent;
    border: solid 1px var(--btn-outline-primary);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--btn-outline-primary);
}

.owl-theme .owl-nav [class*='owl-'] span {
    padding: 10px;
    display: block;
    background: #ffffff6e;
    font-size: 20px;
    height: 50px;
    width: 50px;
    -webkit-box-shadow: 5px 6px 0px 5px var(--btn-outline-primary);
    -moz-box-shadow: 5px 6px 0px 5px var(--btn-outline-primary);
    box-shadow: 2px 2px 0px 0px var(--btn-outline-primary);
    color: var(--btn-outline-primary);
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: var(--bs-primary);
    border-radius: 0;
    color: #fff;
}

#hero .owl-theme .owl-nav .owl-next {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(100%, 15vw);
}

#hero .owl-theme .owl-nav .owl-prev {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 15vw);
}

#hero .owl-dots {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-16vw, 28.5vw);
}

.owl-theme .owl-nav .owl-next {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-200%, 10.5vw);
}

.owl-theme .owl-nav .owl-prev {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(200%, 10.5vw);
}